div.app__add-task {
  width: 100%;
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: space-around;
  img {
    width: 40%;
    height: 60vh;
    object-fit: cover;
    margin: 0rem 5rem;
    border-radius: 1rem;
    filter: grayscale(0.9);
    transition: all 0.3s ease-in-out;
    &:hover {
      filter: none;
      transform: scale(1.005);
    }
  }
  form {
    width: 40%;
    height: 100%;
    margin: 8rem 5rem;
    display: flex;
    flex-direction: column;

    // border: 1px solid red;
    padding: 3rem;
    label {
      margin: 1rem 0rem;
      font-size: calc(0.7rem + 0.5vw);
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        transition: transform 0.3s ease-out;
        color: rgb(12, 127, 12);
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    input {
      padding: 0.8rem 1rem;
      font-size: calc(0.7rem + 0.5vw);
      border-radius: 5px;
      border: 1px solid black;
      &:focus {
        outline: 3px solid black;
      }
    }
    textarea {
      height: 160px;
      resize: none;
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid black;
      font-size: calc(0.5rem + 0.5vw);
      &:focus {
        outline: 3px solid black;
      }
    }
    button {
      padding: 0.7rem 1rem;
      margin: 2rem 0rem;
      border-radius: 5px;
      color: white;
      background-color: black;
      font-size: calc(0.6rem + 0.5vw);
      cursor: pointer;
      &:hover {
        background-color: rgb(57, 57, 57);
      }
      &:disabled {
        background-color: rgb(136, 35, 58);
        cursor: not-allowed;
      }
    }
  }
}
