div.app__add-task {
  width: 100%;
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: space-around;
  @media screen and(max-width: 850px) {
    margin-top: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 40%;
    height: 60vh;
    object-fit: contain;
    margin: 0rem 5rem;
    border-radius: 1rem;
    filter: grayscale(0.9);
    transition: all 0.3s ease-in-out;
    @media screen and (min-width: 2000px) {
      border-radius: 2rem;
    }
    @media screen and (max-width: 1200px) {
      margin: 0rem 2rem;
    }
    @media screen and(max-width: 850px) {
      width: 70%;
      height: 50vh;
    }
    @media screen and(max-width: 650px) {
      width: 80%;
    }
    &:hover {
      filter: none;
      transform: scale(1.005);
    }
  }
  form {
    width: 40%;
    height: 100%;
    margin: 8rem 5rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    @media screen and (min-width: 2000px) {
      width: 30%;
    }
    @media screen and (max-width: 1400px) {
      margin: 8rem 1rem;
      padding: 3rem 1rem;
    }
    @media screen and(max-width: 850px) {
      margin: 0rem;
      width: 60%;
    }
    @media screen and(max-width: 650px) {
      width: 70%;
    }
    @media screen and(max-width: 450px) {
      width: 80%;
    }
    label {
      margin: 1rem 0rem;
      font-size: calc(0.7rem + 0.5vw);
      display: flex;
      align-items: center;
      cursor: pointer;
      @media screen and (min-width: 2000px) {
        margin: 1.5rem 0rem;
      }
      svg {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        transition: transform 0.3s ease-out;
        color: rgb(12, 127, 12);
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    input {
      padding: 0.8rem 1rem;
      font-size: calc(0.7rem + 0.5vw);
      border-radius: 5px;
      border: 1px solid black;
      &:focus {
        outline: 3px solid black;
      }
      @media screen and (min-width: 2000px) {
        padding: 1rem 1.5rem;
      }
    }
    textarea {
      height: 160px;
      resize: none;
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid black;
      font-size: calc(0.5rem + 0.5vw);
      &:focus {
        outline: 3px solid black;
      }
      @media screen and (min-width: 2000px) {
        padding: 1.5rem;
      }
    }
    button {
      padding: 0.7rem 1rem;
      margin: 2rem 0rem;
      border-radius: 5px;
      color: white;
      background-color: black;
      font-size: calc(0.6rem + 0.5vw);
      cursor: pointer;
      @media screen and (min-width: 2000px) {
        padding: 1rem 1.5rem;
        margin: 3rem 0rem;
      }
      &:hover {
        background-color: rgb(57, 57, 57);
      }
      &:disabled {
        background-color: rgb(136, 35, 58);
        cursor: not-allowed;
      }
    }
  }
}
