div.app__home {
  margin-top: calc(2rem + 2vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  h1 {
    font-size: calc(3rem + 1vw);
    margin-top: 5rem;
    text-align: center;
    padding: 1rem 2rem;
    @media screen and (max-width: 750px) {
      text-align: center;
      font-size: calc(2.5rem + 1vw);
    }
    @media screen and (min-width: 2000px) {
      margin-top: calc(6rem + 5vh);
    }
  }
  p {
    font-size: calc(1rem + 0.5vw);
    margin: 1rem;
    text-align: center;
  }
  p.app__home-msg {
    margin: 5rem auto;
    font-size: calc(1.5rem + 0.5vw);
    // background-color: rgba(236, 236, 238, 0.606);
    width: 100%;
    padding: 1rem;
    text-align: center;
    @media screen and (max-width: 600px) {
      padding: 1rem 1.5rem;
      font-size: calc(1rem + 0.5vw);
    }

    span {
      color: navy;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        text-decoration: underline;
        letter-spacing: 2px;
      }
    }
  }
  footer {
    height: 3rem;
    background-color: rgb(8, 8, 57);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 500px) {
      height: 5rem;
    }
    p {
      font-size: 1rem;
      color: white;
      text-align: center;
      padding: 0.5rem 1rem;
      @media screen and (max-width: 500px) {
        padding: 0.5rem 2rem;
      }
    }
  }
}
