div.app__tasks--container {
  width: 100vw;
  height: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;

  flex-wrap: wrap;
  gap: 5vw;
  justify-content: center;
  @media screen and(min-width: 2000px) {
    margin-top: calc(10rem + 5vh);
  }
  @media screen and (max-width: 800px) {
    margin-top: 6rem;
  }
  div.app__tasks-none {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: calc(2rem + 2vh);
    svg {
      width: calc(4rem + 1vw);
      height: calc(4rem + 1vw);
      color: rgba(58, 58, 115, 0.453);
    }
    p {
      font-size: calc(1.5rem + 1vw);
      margin-top: 3rem;
      color: rgba(58, 58, 115, 0.653);
      text-align: center;
      padding: 0.5rem 2rem;
    }
  }
  div.task-motion {
    width: 40%;
    height: calc(200px + 5vh);
    @media screen and(min-width: 2000px) {
      height: calc(200px + 10vh);
    }
    @media screen and(max-width: 1200px) {
      height: calc(300px + 20vh);
    }
    @media screen and(max-width: 850px) {
      width: 70%;
      margin-bottom: 2rem;
    }
    @media screen and(max-width: 450px) {
      width: 80%;
    }
  }
}
