div.app__signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: 8rem auto 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
    padding: 2rem;
    label,
    input {
      margin-bottom: 0.8rem;
    }
    input {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: 1px solid black;
      font-size: 1.1rem;
      &:focus {
        outline: 2px solid black;
      }
    }
    button {
      padding: 0.7rem 1rem;
      margin-top: 1.5rem;
      background-color: black;
      color: white;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(52, 51, 51);
      }
      &:disabled {
        background-color: rgb(232, 34, 100);
        cursor: not-allowed;
      }
    }
  }
}
